body {
	font-size: 14px;
	background-color: #f6f6f6;
	font-family: Arial, Helvetica, sans-serif;
}

.permit-form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	height: 160px;
	width: 230px;
	margin: auto;
	padding: 16px;

	background-color: white;
	border: 10px solid white;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.permit-form input[type="text"],
.permit-form input[type="password"] {
	display: block;
	width: 230px;
	max-width: 230px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 30px;
	height: 30px;

	border: 1px solid #adaaaa;
	border-radius: 4px;
	box-sizing: border-box;
}

.permit-form .icon {
	height: 16px;
	width: 16px;
	position: absolute;
}

.person-img {
	background: url("images/person.png") no-repeat 0 0;
	top: 23px;
	right: 25px;
}

.lock-img {
	background: url("images/lock.png") no-repeat 0 0;
	top: 68px;
	right: 25px;
}

.permit-form button {
	width: 230px;
	height: 30px;
	
	border: 1px solid #adaaaa;
	border-radius: 4px;
	background: linear-gradient(to bottom, #9bc6fb, #56a8ef);
	color: #f8f8f8;
}

	.permit-form button:hover {
		border: 1px solid #4aceeb;
		background: linear-gradient(to bottom, #9bc6fb, #498cc6);
	}

.permit-form div {
	margin-top: 10px;
	margin-bottom: 15px;
}

.permit-form div:last-child {
	font-size: 0px;
}

.permit-form a {
	display: inline-block;
	width: 110px;
	height: 30px;
	line-height: 30px;

	text-decoration: none;
	color: #56a8ef;

	font-weight: bold;
	font-size: 13px;
}

	.permit-form a:hover {
		text-decoration: underline;
	}

.permit-form a:first-child {
	margin-right: 10px;
}





/**
* Styles for page registration
*/

.general-info,
.additional-info,
.password-info {
	margin-bottom: 40px;
}

