@model IEnumerable<Web_Site.Models.User>
@{
    Layout = null;
}
<html>
<head>
    
	<title>Стартовая страница</title>
	<meta charset="utf-8" />
	<link type="text/css" rel="stylesheet" href= "@Url.Content("~/CSS/style.css")" />

</head>
<body>
		 
	<form class="permit-form" action="" method="post">
		<div>
			<input type="text" name="login" placeholder="Логин" />
			<div class="icon person-img"></div>
		</div>
		<div>
			<input type="password" name="password" placeholder="Пароль" />
			<div class="icon lock-img"></div>
		</div>
		<div>			
			<button type="button" onclick="location.href='@Url.Action("Entrance", "Home")'">Войти</button>							
		</div>
		<div>					
			@Html.ActionLink("Региcтрация", "Create", "Home", null, new { @class = "registr" })
			@Html.ActionLink("Забыли пароль?", null, null, null, new { @class = "pass-forgot" })

			@*<a class="pass-forgot" href="#">Забыли пароль?</a>*@
		</div>
	</form>    
    
</body>
</html>

