@model IEnumerable<Web_Site.Models.User>
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Форма регистрации</title>
</head>
<body>
	<nav>
		<ul class="menu">
			<li>@Html.ActionLink("Зарегистрировать", "Create", "Home")</li>
		</ul>
	</nav>      
    
</body>
</html>

