@model MVC_Project.Models.RegisterModel

@{
    ViewBag.Title = "PasswordReset";
}

<h2>Восстановление пароля</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div>
		@*@Html.ValidationSummary(false)*@
		<div>
			Почтовый ящик
			<div>
				@Html.EditorFor(model => model.Email)
			</div>
		</div>

		<div>
			<div>
				<input type="submit" value="Восстановить" />
			</div>
		</div>
	</div>
}
